header {
	padding: ($spacer * 3) 0;
	transform: translate3d(0,0,0);
    @include media-breakpoint-up(lg) {
		padding: ($spacer * 4) 0;
    }
    img {
    	transform:translate3d(0,-330px,0);
    	transition: transform 1000ms 400ms cubic-bezier(.19,1,.22,1);
	    @include media-breakpoint-down(lg) {
	    	margin-top: ($spacer*1.5);
	    	transform: none;
	    }
	    &.active {
	    	transform: translate3d(0,0,0);
	    	transition: transform 1000ms 400ms cubic-bezier(.19,1,.22,1);
	    }
	}
}

section {
	border-top: 1px solid $gray-300;
	padding-top: ($spacer * 2);
	padding-bottom: ($spacer * 2);
}

form {
	.btn {
		margin-top: $spacer;
	}
	button[type="submit"]{
	    @include media-breakpoint-up(md) {
	    	float: right;
	    }
	}
}
