header {
	padding: ($spacer * 3) 0;
    @include media-breakpoint-up(lg) { 
		padding: ($spacer * 4) 0;
    }
    img {
	    @include media-breakpoint-down(lg) { 
	    	margin-top: ($spacer*1.5);
	    }
	}
}

section {
	border-top: 1px solid $gray-300;
	padding-top: ($spacer * 2);
	padding-bottom: ($spacer * 2);
}

form {
	.btn {
		margin-top: $spacer;
	}
	button[type="submit"]{
	    @include media-breakpoint-up(md) { 
	    	float: right;
	    }
	}
}
