footer {
	background-color: $gray-100;
	border-top: 1px solid $gray-300;
	font-size: 0.8rem;
	padding: ($spacer * 1.5) 0;
	line-height: 1.5;
	p {
		font-size: 0.8rem;
		strong { 
			font-weight: medium;
		}
	    @include media-breakpoint-down(md) { 
	    	margin-top: $spacer;
	    	font-weight: bold;
	    }
	}
	a {
		color: $gray-600;
		&:hover {
			color: $gray-800;
		}
	}
	ul.footer-nav {
		margin-top: $spacer;
		li {
			padding: 0.1rem 0;
		}
	}

	select {
 		margin-top: $spacer;
	}
	.contact {
		margin-top: ($spacer * 3);
		border-top: 1px solid $gray-300;
		padding-top: $spacer;
	}
}