/* Base Styles and Helpers/Utility classes -------------------- */

.align-right {
	text-align: right;
}

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ac {
	align-items: center;
}

.pull-right {
	float: right;
}