/* Base Styles and Helpers/Utility classes -------------------- */

.text-right {
	text-align: right;
	&-md {
		margin-top: $spacer;
	    @include media-breakpoint-up(md) {
	    	margin-top: 0;
			text-align: right;
	    }
	}
	&-lg {
		margin-top: $spacer;
	    @include media-breakpoint-up(lg) {
	    	margin-top: 0;
			text-align: right;
	    }
	}
	&-xl {
		margin-top: $spacer;
	    @include media-breakpoint-up(xl) {
	    	margin-top: 0;
			text-align: right;
	    }
	}
}

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

.ac {
	align-items: center;
}

.img-responsive {
	max-width: 100%;
}


hr {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
